body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    touch-action: manipulation;
    overflow: hidden;
}
.controls {
    margin-bottom: 10px;
}
#grid {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    background-color: #333;
    position: relative;
    padding: 2px;
}
.cell {
    width: 19px;
    height: 19px;
    background-color: #fff;
    display: grid;
} 

/* Сделаем кнопку подтверждения побольше, чтобы по ней было легко попасть пальцем */
.confirm-button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.confirm-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.confirm-button:hover {
    background-color: darkgreen;
}

.rectangle {
    position: absolute;
    border: 2px solid rgba(0,0,0,0.2);
    cursor: grab;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Запрещает браузеру обрабатывать жесты (скролл) на этом элементе */
    touch-action: none; 
    user-select: none;
}

.fixed {
    cursor: default;
    opacity: 1;
}
#upperButton, #rotateButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #888afc96;
    color: #991212;
    font-size: large;
    border: rgb(50, 4, 102) solid;
    border-radius: 4px;
    cursor: pointer;
}